@page "/counter"
@inject NavigationManager _navigationManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [SupplyParameterFromQuery(Name = "count")]
    [Parameter]
    public int CurrentCount { get; set; }

    private void IncrementCount()
    {
        CurrentCount++;
        _navigationManager.NavigateTo(
            _navigationManager.GetUriWithQueryParameter("count", CurrentCount),
            replace: true
        );
    }
}
