@page "/counter"
@inject NavigationManager _navigationManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int InitialCount { get; set; }
    private int currentCount;

    protected override void OnParametersSet()
    {
        currentCount = InitialCount;
    }

    private void IncrementCount()
    {
        currentCount++;
        _navigationManager.NavigateTo(
            _navigationManager.GetUriWithQueryParameter("initialCount", currentCount),
            replace: true
        );
    }
}
